<div [formGroup]="form">
  <div class="form-control">
    <label for="{{type}}-{{id}}" #usernameLabel [class.error]="!isValid() && submitted"
    [class.valid]="isValid() && submitted" [class.selected]="isFocused">
      <b>{{ labelName }}</b>
      <span *ngIf="!isValid() && submitted" class="spacer">-</span>
      <span *ngIf="!isValid() && submitted">
        {{ errMsg }}
      </span>
    </label>
    <input type="text" id="{{type}}-{{id}}" #inputRef
      [formControlName]="type" 
      (focus)="onFocus()"
      (blur)="onBlur()" 
      [class.error-input]="!isValid() && submitted && isFocused && inputRef.value"
      [class.valid-input]="isValid() && submitted && isFocused && inputRef.value"
    >
  </div>
</div>