<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2 class="">{{ title }}</h2>
  <p class="sub-text">{{ titleMsg }}</p>
  <div class="form-group">
    <!-- Username control -->
    <app-form-control [appForm]="loginForm" [appSubmitted]="isSubmitted" appType="username"></app-form-control>
    <!-- Password Control -->
    <app-form-control [appForm]="loginForm" [appSubmitted]="isSubmitted" appType="password"></app-form-control>
    <!-- Confirm Password Control -->
    <app-form-control [appForm]="loginForm" [appSubmitted]="isSubmitted" appType="confirmPw"></app-form-control>
  </div>
  <button type="submit">Sign in</button>
  <p class="sub-text">{{ helpMsg }} <a routerLink="/signup">{{ linkMsg }}</a></p>
</form>