<div class="fixed-height-main">
  <main class="main-content">
    <section class="panel-left">
      <h2>New Session</h2>
      <h3 class="sub-text">Start a new watch party</h3>
      <div class="card">
        <span class="number">1</span>
        <span>Select a friend to get the party started</span>
        <mat-icon aria-label="right arrow" fontIcon="east" class="matIcon-arrow"></mat-icon>
      </div>
      <div class="card">
        <span class="number">2</span>
        <button class="btn-connect">
          Send connection request
        </button>
      </div>
    </section>

    <section class="panel-right">
      <h3>Friends</h3>
      <!-- Search Bar -->
      <!-- Friends List -->
      <!-- Display Card -->
    </section>
  </main>
</div>