@mixin navBtn {
  color: var(--gray-lightest);
  padding: .4rem .5rem;
  border-radius: 5px;
  font-weight: 700;

    &:hover {
      background-color: var(--gray-lightest);
      color: var(--black);
    }
}