@mixin fixed-height-main {
  .fixed-height-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
  }
  
  @media only screen and (max-width: 599px)  {
    .fixed-height-main { 
      height: calc(100vh - 56px); 
    }
  }
}